@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Poppins:ital,wght@0,700;1,300;1,400;1,500&family=Saira:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    scroll-behavior: smooth;
    font-family: Poor Story
    ;
    font-size: large;
}
hr{
    
    background-color: rgb(49, 190, 167);
    border: 2px solid;
    width: 90px;
    margin: 10px 0px;
}
/******************** Header ***************/

.navgtion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    border: 1;
    
}
header{
    background-color: #333;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.navgtion{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    direction: rtl;
}

nav a{
    transition: 0.4s;

}
 nav a:hover{
    color: rgb(49, 190, 167);
}
.navgtion a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;  
    font-size: small; 
}
.tag{
    margin: 0px;
    display: flex;
    text-decoration: none;
    
}

/***********Strat Logo***********/
.logo{
    color:white;
    text-decoration: none;
    font-size: large;
    font-weight: 1.8em;
    border-radius: 30px;
    text-transform: uppercase;
}

.logo span{
    color: rgb(49, 190, 167);
}

/***********End Logo********************/

/*************** End Header ***************/





/*********Start Main***********/

/********start محتوى الرئيسي************/
.main{
    display: flex;
    padding: 30px 100px;
    align-items: center;
    justify-content: center;
    background-image: url('images/background.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100%;
    /* padding-bottom: 70px; */
    flex-direction:row ;
}

.main-content{
    display: inline-block;
    padding-left:30px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: flex-start;

}
.main-sperate{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.main-sperate  img{
    display: inline-block;
}
.main-content h2{
    text-transform: uppercase;
    text-shadow: 1em;
    font-weight: 200;
    text-decoration: solid;
    color: white;
}
.main-content h2 span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 1em;
    font-weight: 700;
    color: dodgerblue;
    text-decoration: solid;
    display: inline-block;
    padding-top: 10px;
}

.main-content h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-shadow: 1em;
    font-size: 1em;
    font-weight: 700;
    color: rgb(49, 190, 167);
    text-decoration: solid;
    padding-top: 10px;
    margin-top:10px ;
    margin-bottom:30px ;
}

.main img{
    padding-top: 0;
}

/*****************End محتوى الرئيسي***********************/

/********************زر تشغيل Start**************************/

.main-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(61, 52, 117);
    padding: 0.9375em 2.1875em;
    background-color: #ffd43b;
    font-size: large;
    border: 1px;
    border-color: rgb(61, 52, 117);
    border-bottom: 3px;
    border-radius: 15px;
    border-style: solid;
    margin: 10px 10px;
    transition: 0.5s;
}

.main-btn:hover{
    background-color: cornflowerblue;
    transform: scale(1.1, 1.1);
}


/*******************End زر تشغيل***************************/

/************************Strat Icons***************************/

.soical-icons{
    display: flex;
    margin-top: 10px ;
    color :#ffd43b;
    padding-left: 95px;
    letter-spacing: 0.5em;
}


.soical-icons .icons{
   display: inline-block;
   padding-right: 6px;
   color: rgb(255, 255, 255);
   transition: 0.5s;
}


.soical-icons .icons:hover {
    transform: scale(1.1);
    color: rgb(222, 221, 230);
}

.soical-icons .icons i{
    display: inline-block;
    padding-right: 6px;
    font-size: x-large;
}
/*************************End Icons****************************/

/*************************Start About me************************************/

.about-section{
    width: 100%;
    background-color: #333;
    padding: 60px 150px;
    height: 20rem;
    color: white;
    font-size: large;
}

h2 span{
    color: rgb(49, 190, 167);
}

hr{
    color: rgb(49, 190, 167);
}
.about-section .logo{
    display: flex;
    justify-content: center;
    
}

.col{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.col-left{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 50rem;
}

.col-left h4{
    color: white;
}

.services-logo span{
    color: rgb(49, 190, 167);
}
/*************************End About me**************************************************/

/**********************Services Start****************************/
.services-cards{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px 150px;
}

.services-logo{
    display: flex;
    justify-content: center;
    color: #333;
}

.services-logo span{
    color: rgb(49, 190, 167);
}


.services-cards .contaner{
    background-color: #333;
    padding: 20px 20px;

}

.Items-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;
    flex-wrap: wrap;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 9px;
    flex-wrap: wrap;
    transition: 5s;

}

.item{
    border: black 1px;
    background-color: white;
    padding: 25px 70px;
    border-radius: 3px;
    transition: 0.5s;
    box-shadow: #333 5px 5px 1px;

}
 .item:hover{
    box-shadow: 1px 2px black;
    background-color: rgb(255, 255, 255);
    transform: scale(1.1,1.1);
}
/**********************Services End*****************************/

/**********************Project start*****************************************/

.Projects{
    width: 100%;
    min-height: 100%;
    background-color: white;
    padding: 20px 90px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 9rem;
    height: 14rem;
    border: black solid 1px;
    gap :4px;
}

/************************project End**********************************/